footer {
  
  #sub-footer {
  background-color: var(--black);

    .container {
      max-width: 1140px;

      img {
        height: 35px;
      }

      p {
        color: var(--gray-300);
      }
    }
  }
}